<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>771914840697-8vn2ovj768j514lroct9trfvt43ei9rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771914840697-8vn2ovj768j514lroct9trfvt43ei9rj</string>
	<key>API_KEY</key>
	<string>AIzaSyCXsDyqSl7tlifg8A7NXzA0cdzNk8mAokU</string>
	<key>GCM_SENDER_ID</key>
	<string>771914840697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wajdimuhtadi.StopTap</string>
	<key>PROJECT_ID</key>
	<string>stoptap-1208</string>
	<key>STORAGE_BUCKET</key>
	<string>stoptap-1208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:771914840697:ios:c7685a9e8a72181b</string>
	<key>DATABASE_URL</key>
	<string>https://stoptap-1208.firebaseio.com</string>
</dict>
</plist>
